form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;

}

input{
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#btnSubmit{
    background-color: green;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;

}

#btnSubmit:hover{
    background-color: rgb(89, 197, 89);
}